# Entornos virtuales (¡Esto ignorará tu carpeta venv!)
venv/
.venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Carpetas de editores de código
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
